@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overscroll-behavior: none; /* Empêche le comportement de dépassement par défaut */
    touch-action: none; /* Désactive les actions de toucher par défaut comme le pinch-zoom */
    user-select: none; /* Désactive la sélection de texte */
    -webkit-user-drag: none; /* Désactive le glissement d'éléments */
    -webkit-touch-callout: none; /* Désactive l'appel contextuel sur mobile */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Supprime l'effet de surbrillance sur les tap */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Empêche le défilement de la fenêtre */
}

* {
    box-sizing: border-box;
}
